@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-color: #2f3437;

  --fn-arial-1 : Arialn.ttf;
  --fn-arial-2 : ArialTh.ttf;
  --fn-arial-3 : ARIBL0.ttf;
  --fn-arial-4 : G_ari_bd.TTF;
  --fn-arial-5 : G_ari_i.TTF;
  --fn-arial-6 : GEO_AI__.TTF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: arial;
  src: url("/fonts/Arialn.ttf");
  font-weight: 900;
}
body {
  color: rgb(var(--foreground-rgb));
  background: var(--bg-color);  
}

*{
  font-family: sans-serif;
}