
.landing-main {
    width: 100vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -42px;
}
.landing-img {
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    object-position: center 50%;
    width: 92vw !important;
    max-width: 1200px!important;
    border-radius: 24px;
    height: 30vh !important;
}

.landing-div-rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 124px;
    height: 124px;
    border-radius: 50%;
    box-shadow: 4px 4px 24px 0 rgba(0,0,0,.21);
    margin-top: -62px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.landing-title {
    width: 100%;
    font-size: 2.5em;
    margin-top: 20px;
    line-height: 1.2;
    text-align: center;
}
.landing-article {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 20px;
}
.landing-page-content-inner * {
    line-height: 2.65rem;
}
.landing-page-content-inner {
    /* line-height: 1rem !important; */
    width: fit-content;
}

.landing-hover-highlight{
     color: inherit;
     word-break: break-word;
     text-decoration: dashed;
     border-bottom: 0.05em solid;
     border-color: rgba(255, 255, 255, 0.9);
     transition: unset;
     opacity: 1;
     border-bottom-width: 0.1rem;
     background: transparent;
     background-origin: border-box;
     background-repeat: no-repeat;
     background-position: 50% 100%;
     background-size: 0 0.1rem;
     -webkit-transition: unset;
     -moz-transition: unset;
     -ms-transition: unset;
     -o-transition: unset;
}
.landing-hover-highlight:hover  {
    border-bottom-color: transparent;
    background-image: linear-gradient(90.68deg, #b439df 0.26%, #e5337e 102.37%);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% 0.1rem;
    transition-property: background-position, background-size;
    transition-duration: 300ms;

}


.post-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}

.post-header h2 {
    /* text-decoration: dashed; */
    border-bottom: 0.05em solid;
    border-color: #fff;
  
     background-position: 50% 100%; 
     background-size: 0 0.1rem;

/*      
    display: inline-flex;
    align-items: center; */
    font-size: 1.25em;
    /* line-height: 1.2; */
    font-weight: 600;
    white-space: pre-wrap;
    word-break: break-word;
    margin-right: 0.5em;
    line-height: 2.8rem;

}